<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Elasticsearch.Net" version="7.17.5" targetFramework="net472" />
  <package id="HotChocolate.Abstractions" version="13.0.5" targetFramework="net472" />
  <package id="HotChocolate.Language" version="13.0.5" targetFramework="net472" />
  <package id="HotChocolate.Language.SyntaxTree" version="13.0.5" targetFramework="net472" />
  <package id="HotChocolate.Language.Utf8" version="13.0.5" targetFramework="net472" />
  <package id="HotChocolate.Language.Visitors" version="13.0.5" targetFramework="net472" />
  <package id="HotChocolate.Language.Web" version="13.0.5" targetFramework="net472" />
  <package id="HotChocolate.Types" version="13.0.5" targetFramework="net472" />
  <package id="HotChocolate.Utilities" version="13.0.5" targetFramework="net472" />
  <package id="HotChocolate.Utilities.Introspection" version="13.0.5" targetFramework="net472" />
  <package id="MediatR" version="9.0.0" targetFramework="net472" />
  <package id="MediatR.Extensions.Microsoft.DependencyInjection" version="9.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="6.0.0" targetFramework="net472" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.1" targetFramework="net472" />
  <package id="Microsoft.CSharp" version="4.6.0" targetFramework="net472" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="3.1.4" targetFramework="net472" />
  <package id="Microsoft.Extensions.ObjectPool" version="3.1.4" targetFramework="net472" />
  <package id="NEST" version="7.17.5" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net472" />
  <package id="System.ComponentModel.Annotations" version="4.7.0" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="6.0.0" targetFramework="net472" />
  <package id="System.Text.Json" version="6.0.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
</packages>