@page "{eventId}"
@model FluxLiveWebApp.Pages.Events.DeleteModel
@{
    
}



    <h2>Delete</h2>
    <div class="alert alert-danger">
        Are you sure you want to delete @Model.FluxEvent.Name ?
    </div>
    <form  method="post">
        <button type ="submit" class="btn btn-danger"> Yes!</button>
        <a class="btn btn-default" asp-page="List">Cancel</a>
    </form>


